include ../../share/mixins/_mixins.pug

+modal-card-universal()
  +accordionBlock(12, "true", "openTab($event)")
    +accordionTab("BLOCK ONE")
      +accordionBlockMenu()
      +form-row
        +label-block("simple-card-input1", "4", "REQ_PAYER", "true")
        +input-with-separate-fat-button("simple-card-input1", "8", "currentItem.first_name", "flags.editingModeOff", "openNewWindow()")
      +form-row
        +label-block("simple-card-input2", 4, "PUBLIC")
        +input-with-separate-fat-button("simple-card-input2", 8, "currentItem.last_name", "flags.editingModeOff")
      +form-row
        +label-block("simple-card-input3", 4, "DOCUMENTS")
        +input-with-united-button("simple-card-input3", 8, "currentItem.email", "flags.editingModeOff")
      +form-row
        +label-block("simple-card-picker1", 4, "PLACE_BIRTH")
        +search-picker("simple-card-picker1", 8, null, "flags.editingModeOff")
      +form-row
        +label-block("simple-card-picker1", 4, "PLACE_WORK", "true")
        +search-picker-v2("simple-card-picker2", 8, null, "flags.editingModeOff")
      +form-row
        +label-block("simple-card-dropdown1", 4, "REQ_RECIP", "true")
        +dropdown-simple("simple-card-dropdown1", 8, "selectedCity", "cities", "flags.editingModeOff")
      +form-row
        +label-block("simple-card-dropdown2", 4, "CORR", "true")
        +search-picker-bropdown(
          "simple-card-dropdown2",
          8,
          null,
          "selectedCity",
          "cities",
          "flags.editingModeOff",
          "focusOut($event)",
          "dropDown($event)"
          )
      +form-row
        +label-block("simple-card-dropdown3", 4, "POSITION", "true")
        +search-picker-bropdown-v2(
          "simple-card-dropdown3",
          8,
          null,
          "selectedCity",
          "cities",
          "flags.editingModeOff",
          "focusOut($event)",
          "dropDown($event)"
          )
      +form-row
        +label-block("simple-card-date1", 4, "DATE_BIRTH", "true")
        +date-picker-with-button("simple-card-date1", 8, null, "flags.editingModeOff")
      +form-row
        +label-block("simple-card-date2", 4, "DATE_BIRTH", "true")
        +date-picker("simple-card-date2", 8, null, "flags.editingModeOff")
    +column-row
      +accordionTab-single("SINGLE ACCORDION TAB 11", "12 p-md-6 p-lg-3")
        +form-row
          +label-block("simple-card-input11", "4", "PERSON_DO", "true")
          +input-with-separate-fat-button("simple-card-input11", "8", null, "flags.editingModeOff")
      +accordionTab-single("SINGLE ACCORDION TAB 22", "12 p-md-6 p-lg-3")
        +form-row
          +label-block("simple-card-input22", "4", "CUSTOMER.PAYNAME", "true")
          +input-with-separate-fat-button("simple-card-input22", "8", null, "flags.editingModeOff")
      +accordionTab-single("SINGLE ACCORDION TAB 33", "12 p-md-6 p-lg-3")
        +form-row
          +label-block("simple-card-input33", "4", "PAY_TARGET")
          +input-with-separate-fat-button("simple-card-input33", "8", null, "flags.editingModeOff")
      +accordionTab-single("SINGLE ACCORDION TAB 44", "12 p-md-6 p-lg-3")
        +form-row
          +label-block("simple-card-44", "4", "IBAN_CODE")
          +input-with-separate-fat-button("simple-card-44", "8", null, "flags.editingModeOff")
    app-simple-card-second([additive]="'zzz'")
app-simple-card(*ngIf="showNewWindow", (closeCard)="showNewWindow=false", [additive]="'qqq'" )
+modal-dialog-information("ATTENTION", "SAVED_MSG", "", "displayDialogInfo")
