
div(class="login-wrapper bg-green")
  div(class="login-form")
    div(class="p-grid p-nogutter")
        div(class="p-col-12")
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(
                class="pi pi-user",
                style="line-height: 1.25;"
                )
            input(
              class="ui-g-12",
              type="text",
              pInputText,
              [(ngModel)]="userLogin",
              placeholder="Username"
              )
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(
                class="pi pi-key",
                style="line-height: 1.25;"
                )
            input(
              class="ui-g-12",
              type="password",
              pInputText,
              [(ngModel)]="userPassword",
              placeholder="Password"
              )
          div(class="buttons-container")
            p-button(
              class="ui-g-12 ui-g-nopad",
              [disabled]="!(userPassword && userLogin)",
              styleClass="login-button_submit",
              label="Login",
              (onClick)="handleClick($event)"
              )
