/* You can add global styles to this file, and also import other style files */
@min-width-content: 1024px;
@button-width: 2.357em;
@button-fat-width: @button-width * 2;
@padding-from-button: 2.7em;
@radius3: 3px;

@bg-green: #048348;
@bg-green-hover: #026537;
@bg-orange: #f37320;
@bg-orange-hover: #e26310;


@border-color-grey: #c8c8c8;
@font-color-grey: #333333;

/*
start
Сбрасываем стиди primeng
*/

body .ui-button {
  background-color: @bg-orange;
  border: 1px solid @bg-orange;
}

body .ui-button:enabled:hover {
  background-color: @bg-orange-hover;
  border: 1px solid @bg-orange-hover;
}

body .ui-accordion .ui-accordion-header a,
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  // background-color: @bg-green;
  // border: 1px solid @bg-green;
  // color: #ffffff;
  background-color: @border-color-grey;
  border: 1px solid @border-color-grey;
  color: @font-color-grey;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a,
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
  background-color: @bg-green-hover;
  border: 1px solid @bg-green-hover;
  color: #ffffff;
}



body .ui-togglebutton,
body .ui-togglebutton .ui-button-icon-left,
body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover .ui-button-icon-left,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus .ui-button-icon-left,
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
  color: #ffffff;
}

body .ui-togglebutton.ui-state-active:hover,
body .ui-fileupload-choose:not(.ui-state-disabled):hover,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: @bg-orange-hover;
  border: 1px solid @bg-orange-hover;
  color: #ffffff;
}

body .ui-togglebutton.ui-state-active,
body .ui-togglebutton.ui-state-active.ui-state-focus,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
  background-color: @bg-orange;
  border: 1px solid @bg-orange;
  color: #ffffff;
}

body .ui-fileupload-choose:not(.ui-state-disabled):hover {
  background-color: @bg-orange-hover;
  border: 1px solid @bg-orange-hover;
}

/*
end
Сбрасываем стиди primeng
*/






.mixin-reset() {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-width: @min-width-content;
  min-height: 100%;
  position: relative;
}

.mixin-bg(@bg1, @bg2) {
  background: @bg1;
  background: linear-gradient(to left, @bg1, @bg2);
  font-family: "Roboto", sans-serif;
}

.mixin-button(@bgColor) {
  outline: 0;
  background: @bgColor;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  &:enabled:hover {
    background: lighten(@bgColor, 5%);
  }
  &:enabled:active {
    background-color: lighten(@bgColor, 5%);
    color: #ffffff;
    border-color: lighten(@bgColor, 5%);
  }
  &:enabled:focus {
    box-shadow: 0 0 0 0.2em lighten(@bgColor, 5%);
  }
  &.ui-state-disabled {
    cursor: not-allowed !important;
  }
  &.ui-button-text-only .ui-button-text {
    padding: 0;
  }
}

// отображать троеточие в поле когда текст выходит за пределы
.mixin-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mixin-fat-button() {
    width: @button-fat-width;
    margin-left: .5em;
}

.mixin-calendar() {
  width: 100%;
  .be-calendar {
    width: calc(100% - @button-width);
  }
  .ui-calendar-button {
    position: absolute;
    right: 0;
    top:0;
  }
}

body {
  .mixin-reset();
  .ui-table {
    .ui-table-thead {
      & > tr {
        & > th {
          .mixin-ellipsis();
        }
      }
    }
    .ui-table-tbody {
      & > tr {
        & > td {
          .mixin-ellipsis();
        }
      }
    }
  }
}

.be-separator-block {
  background-color: #eaeaea;
  padding: 0.5em;
  border-bottom: 1px solid #a6a6a6;
}

#main-content-wrapper {
  min-width: @min-width-content;
}

.login-wrapper {
  height: 100vh;
  padding-top: 10em;
  .mixin-bg(#5276b8, #4042a7);
}

.login-form {
  width: 360px;
  margin: 0 auto;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.239);
  background-color: #ffffff;
  .buttons-container {
    padding-top: 1em;
    .login-button_submit.ui-button {
      .mixin-button(#4CAF50);
    }
  }
}

.ui-widget:disabled {
  cursor: not-allowed;
}

.be-left-sidebar-menu {
  margin-top: 100px;
  width: 100%;
  &.ui-menu {
    border: none;
  }
}

.be-left-sidebar-panel {
  &.ui-sidebar {
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.35);
    padding: 0;
    z-index: 10;
  }
}

.be-top-menu {
  &.ui-menubar {
    text-align: center;
    border: none;
    background-color: transparent;
  }
}

.be-align-rigth {
  text-align: right !important;
}

.be-input-text {
  width: 100%;
  box-sizing: border-box;
  padding: 0.429em;
  padding-left: .5em;
  font-size: 14px;
  transition: border-color 0.2s;
  border: 1px solid #a6a6a6;
  border-radius: @radius3;
  flex: 1 1 auto;
  font-weight: 400;
  .mixin-ellipsis();
}

// компонент календать
.be-calendar-wrapper {
  .mixin-calendar();
}

// компонент календаря с дополнительной кнопкой
.be-calendar-wrapper-v2 {
  .be-calendar-wrapper {
    .mixin-calendar();
    width: calc(100% - 0.5em - @button-fat-width);
  }
}

.be-button-default {
  width: 100px;
  padding: 0;
}

.be-check-box-label {
  padding-left: 0.5em;
}

.be-label-wrapper {
  position: relative;
  .be-label {
    display: block;
    .mixin-ellipsis();
  }
  .be-mandatory {
    position: absolute;
    top: 10px;
    right: -10px;
    color: #ff1f1f;
  }
}

// широкая кнопка
.ui-button.ui-button-icon-only.be-button-fat {
  .mixin-fat-button();
}

.be-p-grid {
  margin: 0;
  padding: 0;
}

.be-accordion-block-menu {
  margin-bottom: 0.5em;
  button {
    margin-right: 0.15em;
  }
}

// компонент поле ввода с прикрепленной кнопкой
.be-input-button-wrapper {
  position: relative;
  .be-input-field {
    width: calc(100% - @button-width);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .mixin-ellipsis();
  }
  .be-input-button {
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 0;
    top: 0;
    width: @button-width;
  }
}

// компонент поле ввода с отдельной кнопкой
.be-input-button-wrapper-v2 {
  .be-input-field {
    width: calc(100% - 0.5em - @button-fat-width);
  }
  .ui-button-icon-only.be-input-button.fat-button {
    .mixin-fat-button();
  }
}

// компонент searchpicker вариант 1
.be-searchpicker-wrapper {
  position: relative;
  .be-first {
    padding-right: .5em;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .mixin-ellipsis();
  }
  .be-second {
    padding-right: @padding-from-button;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    .mixin-ellipsis();
    &:disabled {
      opacity: 0.9;
    }
  }
  .ui-button.be-picker-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: @button-width;
  }
}

// компонент searchpicker вариант 2 (отличие от 1 варианта в разметке)
.be-searchpicker-wrapper-v2 {
  .be-searchpicker-first {
    width: 100%;
    padding-right: .5em;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .mixin-ellipsis();
  }
  .be-searchpicker-second {
    width: calc(100% - @button-width);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    .mixin-ellipsis();
    &:disabled {
      opacity: 0.9;
    }
  }
}

// компонент searchpicker вариант 3 (отличие от 1 варианта в разметке)
.be-searchpicker-wrapper-v3 {
  .be-searchpicker-first {
    width: 100%;
    padding-right: .5em;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .mixin-ellipsis();
  }
  .be-input-button-wrapper {
    padding-left: 0.5em;
    .be-searchpicker-second {
      width: calc(100% - @button-width);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      .mixin-ellipsis();
      &:disabled {
        opacity: 0.9;
      }
    }

  }
}

// компонент dropdown-picker (поле ввода и выпадающий список)
.be-dropdown-picker-wrapper {
  .be-dropdown-picker-first {
    width: 100%;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .mixin-ellipsis();
  }
  .be-dropdown.ui-dropdown.be-dropdown-picker {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// компонент dropdown-picker (поле ввода и выпадающий список)
.be-dropdown-picker-wrapper-v2 {
  .be-dropdown-picker-first {
    width: 100%;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .mixin-ellipsis();
  }
  .be-dropdown-picker-block {
    padding-left: 0.5em;
    .be-dropdown.ui-dropdown.be-dropdown-picker {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

// выпадающий список
.be-dropdown.ui-dropdown {
  width: 100%;
  min-width: auto;
  .ui-dropdown-trigger {
    background-color: @bg-orange;
    color: #ffffff;
    width: @button-width;
  }
  .ui-dropdown-label {
    // .mixin-ellipsis();
    padding-right: 2.5em;
    .be-dropdown__selected__label {
      .mixin-ellipsis();
    }
  }
}

.be-pad-l-0 {
  padding-left: 0 !important;
}
.be-pad-r-0 {
  padding-right: 0 !important;
}
.be-pad-t-0 {
  padding-top: 0 !important;
}
.be-pad-b-0 {
  padding-bottom: 0 !important;
}
.be-pad-0 {
  padding: 0 !important;
}
.be-mar-0 {
  margin: 0 !important;
}

#top-block-wrapper {
  position: sticky;
  top: 0;
  background-color: #e3e3e3 ;
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.35);
  z-index: 2;
  .top-button-wrapper {
    .be-left-block,
    .be-rigth-block {
      .ui-togglebutton,
      .ui-togglebutton.ui-state-active {
        color: #333333;
        background-color: #f4f4f4;
        border: 1px solid #f4f4f4;
        min-width: 100px;
        &:hover {
          background-color: #c8c8c8;
          border-color: #c8c8c8;
        }
      }
      .ui-button.ui-button-text-only,
      .ui-button.ui-button-icon-only {
        margin-right: 2px;
        .ui-button-text {
          padding: 0.65em;
        }
      }
    }
  }
}

.be-full-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
  min-width: @min-width-content;
  overflow: auto !important;
  z-index: 20;
  background-color: rgba(238, 238, 238, 0.95);
  .be-table-block-content {
    width: 100%;
    height: 100%;
  }
}

.be-content-wrapper,
.ui-accordion-content {
  // transition: all 0.6s cubic-bezier(.44,.05,.55,.95);
}

.be-modal-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: auto !important;
  .be-modal-card-button-wrapper {
    position: sticky;
    top: 0;
    background-color: #e3e3e3;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.35);
    z-index: 31;
  }
  .be-modal-card-content-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;;
    min-width: @min-width-content;
  }
}

.be-accordion {
  .be-accordion-block {
      .ui-accordion-content {
      border: none;
    }
  }
}

body .ui-button {
  &.be-volume-button,
  &.be-volume-button:enabled:hover {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
  }
}
app-example-table-page, 
app-example-table-page-v2 {
  .be-table .ui-table-scrollable-wrapper {
    font-size: 11px;
  }
}

.be-table-block-wrapper {
  .be-table__block__menu {
    padding-right: .5em;
  }

  .be-table__menu_item {
    padding: .2em;
    padding-left: 0;
  }

  .be-table__grid__name {
    text-align: center;
    padding-top: 10px;
    font-size: 1.2em;
  }
}


