p-sidebar(
    [(visible)]="display",
    [modal]="false",
    [baseZIndex]="10",
    [autoZIndex]="false",
    styleClass="be-left-sidebar-panel"
    )
    p-menu(
        [model]="itemMenu",
        styleClass="be-left-sidebar-menu"
    )
div(id="top-block-wrapper")
    div(class="top-button-wrapper p-grid p-nogutter")
        div(class="p-col-3 p-nogutter be-left-block")
            button(
                pButton,
                type="button",
                (click)="display = true",
                icon="pi pi-bars",
                class="ui-button-secondary"
            )
        div(class="p-col-6 p-nogutter be-central-block")
            app-top-menu
        div(class="p-col-3 p-nogutter be-rigth-block be-align-rigth")
            //- button(
            //-     pButton,
            //-     type="button",
            //-     label="collapse all",
            //-     class="ui-button-secondary",
            //-     (click)="collapseOpennedAccordions($event)"
            //-     )
            p-toggleButton(
                (onChange)="collapseOpennedAccordions($event)",
                [(ngModel)]="statusCollapse",
                offLabel="свернуть",
                onLabel="развернуть"
            )
            button(
                pButton,
                type="button",
                icon="pi pi-sign-out",
                class="ui-button-secondary",
                (click)="logout($event)"
                )
    //- app-holiday-banner-block(*ngIf="showBanner")
    //- app-top-menu

div(
    class="be-content-wrapper",
    [ngClass]="{ 'move-content-rigth': display }"
    )
    router-outlet
