
mixin data-table-standart(gridName=" ", whiteSpace="nowrap", contextMenu=true)
  div(class="be-table-block-wrapper")
    div(class="be-table-block-content")
      div(class="p-grid p-nogutter")
        div(class="p-col-fixed be-table__block__menu")
          +data-table-menu-buttons()
        div(class="p-col be-table__grid__name")
          span {{'!{gridName}' | translate}}
      p-table(
        [scrollable]="isScrollableGrid",
        styleClass="be-table",
        [columns]="cols",
        [first]="first",
        [paginator]="true",
        [rows]="rows",
        [value]="dataGrid",
        selectionMode="single",
        lazy="true",
        [resizableColumns]="true",
        [reorderableColumns]="true",
        [columnResizeMode]="columnResizeMode",
        [(selection)]="selectedItem",
        (onRowSelect)="rowSelect($event)",
        [contextMenu]="conextMenu",
        [(contextMenuSelection)]="selectedItem",
        (appIsReady)="getTableBody($event)"
        )
        ng-template(pTemplate="colgroup", let-columns)
          colgroup
            col(*ngFor="let col of columns", [ngStyle]="{'width': (col.width) ? (col.width) : ''}")
        ng-template(pTemplate="header", let-columns)
          tr
            th(
              pResizableColumn,
              pReorderableColumn, 
              [pSortableColumn]="col.field", 
              *ngFor="let col of columns", 
              pTooltip="{{col.header | translate}}", 
              tooltipPosition="bottom", 
              [ngStyle]="{'width': (col.width) ? (col.width) : '', 'white-space': 'nowrap'}"
              )
              span {{col.header | translate}}
              p-sortIcon([field]="col.field")
        ng-template(pTemplate="body", let-rowData, let-columns="columns", let-rowIndex="rowIndex")
          tr(
            [pContextMenuRow]="rowData",
            [pSelectableRow]="rowData",
            [pSelectableRowIndex]="rowIndex",
            (dblclick)="selectedCards=rowData; handleRowDblclick(rowData)",
            style="text-align: center"
          )
            td(*ngFor="let col of columns", style=`white-space: ${whiteSpace}`, pTooltip="{{rowData[col.field]}}", tooltipPosition="top")
              span {{rowData[col.field]}}
    - if (contextMenu)
      +simple-grid-context-menu()

mixin data-table-menu-buttons()
  ng-container(*ngFor="let item of gridMenuItems")
    p-button(
      class="be-table__menu_item",
      icon="{{item.icon}}",
      pTooltip="{{item.label | translate}}", 
      tooltipPosition="bottom"
    )

mixin simple-grid-context-menu(model="gridConextMenu")
  p-contextMenu("#conextMenu", [model]=model)

mixin simple-ptable-wrapper(gridName=" ")
  div(class="be-table-block-wrapper be-table__block__wrapper")
    div(class="be-table-block-content be-table__block__content")
      div(class="p-grid p-nogutter")
        div(class="p-col-fixed be-table__block__menu")
          +data-table-menu-buttons()
        div(class="p-col be-table__grid__name")
          span {{'!{gridName}' | translate}}
      block

mixin simple-ptable()
  p-table(
    [scrollable]="isScrollableGrid",
    styleClass="be-table",
    [columns]="cols",
    [first]="first",
    [paginator]="true",
    [rows]="rows",
    [value]="dataGrid",
    selectionMode="single",
    lazy="true",
    [resizableColumns]="true",
    [reorderableColumns]="true",
    [columnResizeMode]="columnResizeMode",
    [(selection)]="selectedItem",
    (onRowSelect)="rowSelect($event)",
    [contextMenu]="conextMenu",
    [(contextMenuSelection)]="selectedItem",
    (appIsReady)="getTableBody($event)"
  )
    block

mixin simple-ptable-header()
  ng-template(pTemplate="colgroup", let-columns)
    colgroup
      col(
        *ngFor="let col of columns",
        [ngStyle]="{'width': (col.width) ? (col.width) : ''}"
      )

  ng-template(pTemplate="header", let-columns)
    tr
      th(
        pResizableColumn,
        pReorderableColumn, 
        [pSortableColumn]="col.field", 
        *ngFor="let col of columns", 
        pTooltip="{{col.header | translate}}", 
        tooltipPosition="bottom", 
        [ngStyle]="{'width': (col.width) ? (col.width) : '', 'white-space': 'nowrap'}"
      )
        span {{col.header | translate}}
        p-sortIcon([field]="col.field")

mixin simple-ptable-body(whiteSpace="nowrap")
  ng-template(pTemplate="body", let-rowData, let-columns="columns", let-rowIndex="rowIndex")
    tr(
      [pContextMenuRow]="rowData",
      [pSelectableRow]="rowData",
      [pSelectableRowIndex]="rowIndex",
      (dblclick)="selectedCards=rowData; handleRowDblclick(rowData)",
      style="text-align: center"
    )
      td(
        *ngFor="let col of columns", 
        style=`white-space: ${whiteSpace}`, 
        pTooltip="{{rowData[col.field]}}", 
        tooltipPosition="top"
      )
        span {{rowData[col.field]}}