include ../../share/mixins/_mixins.pug

div(class="p-grid be-p-grid")
  div(class="p-col-12 p-md-12 p-lg-6")
    +column-row
      +accordionTab-single("REQ_PAYER")
        p-button(icon="pi pi-angle-up", (click)="action('up')")
        p-button(icon="pi pi-angle-down", (click)="action('down')")
        p-button(icon="pi pi-check", (click)="save()")
        p-table(
        [columns]="cols",
        [value]="data",
        selectionMode="single",
        [paginator]="true",
        [rows]="3",
        [responsive]="true",
        [resizableColumns]="true",
        [reorderableColumns]="true",
        [(selection)]="selectedItem",
        (onRowSelect)="rowSelect($event)"
        )
          ng-template(pTemplate="header", let-columns)
            tr
              th(*ngFor="let col of columns", pResizableColumn, pReorderableColumn) {{col.header}}
          ng-template(pTemplate="body", let-rowData, let-columns="columns", let-rowIndex="rowIndex")
            tr([pSelectableRow]="rowData", [pSelectableRowIndex]="rowIndex")
              td(*ngFor="let col of columns") {{rowData[col.field]}}
      +accordionTab-single("Chart 1")
        p-chart(type="bar", [data]="dataChart")
      +accordionTab-single("Polar Chart")
        p-chart(type="polarArea", [data]="dataPolar")
  div(class="p-col-12 p-md-12 p-lg-6")
    +column-row
      +accordionTab-single("Таблица 1")
          app-users-grid
      +accordionTab-single("Данные пользователя")
        +form-row
          +label-block("simple-card-input1", "4", "REQ_PAYER", "true")
          +input-with-separate-fat-button("simple-card-input1", "8", null )
        +form-row
          +label-block("simple-card-input2", 4, "PUBLIC")
          +input-with-separate-fat-button("simple-card-input2", 8, null )
        +form-row
          +label-block("simple-card-input3", 4, "DOCUMENTS")
          +input-with-united-button("simple-card-input3", 8, null )
        +form-row
          +label-block("simple-card-picker1", 4, "PLACE_BIRTH")
          +search-picker("simple-card-picker1", 8, null )
        +form-row
          +label-block("simple-card-picker1", 4, "PLACE_WORK", "true")
          +search-picker-v2("simple-card-picker2", 8, null )
        +form-row
          +label-block("simple-card-dropdown1", 4, "REQ_RECIP", "true")
          +dropdown-simple("simple-card-dropdown1", 8, "selectedCity", "cities" )
        +form-row
          +label-block("simple-card-dropdown2", 4, "CORR", "true")
          +search-picker-bropdown(
            "simple-card-dropdown2",
            8,
            null,
            "selectedCity",
            "cities",
            "flags.editingModeOff",
            "focusOut($event)",
            "dropDown($event)"
            )
        +form-row
          +label-block("simple-card-dropdown3", 4, "POSITION", "true")
          +search-picker-bropdown-v2(
            "simple-card-dropdown3",
            8,
            null,
            "selectedCity",
            "cities",
            "flags.editingModeOff",
            "focusOut($event)",
            "dropDown($event)"
            )
        +form-row
          +label-block("simple-card-date1", 4, "DATE_BIRTH", "true")
          +date-picker-with-button("simple-card-date1", 8, null )
        +form-row
          +label-block("simple-card-date2", 4, "DATE_BIRTH", "true")
          +date-picker("simple-card-date2", 8, null )
      +accordionTab-single("Диограмма")
        p-chart(type="bar", [data]="dataChart")
app-simple-card((closeCard)="closeCard($event)", *ngIf="showSimpleCard")
