.mixin-new-year(@height: 100px) {
  background-image: url(/assets/images/new-year/forest.png);
  background-repeat: no-repeat;
  .new-year-banner-container {
    width: 100%;
    height: @height;
    display: flex;
    background-image: url(/assets/images/new-year/snow.png);
    animation: 20s linear infinite snowSlide;
    img {
      height: 70px;
      position: absolute;
      animation: 20s linear infinite customSlide;
    }
  }
}

.mixin-spring(@height: 100px) {
  .spring-banner-container {
    height: @height;
    background-image: url(/assets/images/8-marta/8_mar-top-banner-grey.jpg);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
}

.mixin-default(@height: 100px) {
  .default-banner-container {
    height: @height;
    // background: #020024;
    // background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    background: rgb(4,131,72);
    background: linear-gradient(0deg, rgba(4,131,72,1) 0%, rgba(243,115,32,1) 100%);
    width: 100%;
  }
}

#header-wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  .holiday-banner {
    width: 100%;
    display: flex;
    &.new-year-banner {
      .mixin-new-year()
    };
    &.spring-banner {
      .mixin-spring(100px)
    }
    &.default-banner {
      .mixin-default(100px)
    }
  }
}
// анимация снега
@keyframes snowSlide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 400px;
  }
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 400px;
  }
}

// анимация саней санта клауса
@keyframes customSlide {
  0% {
    left: 0%;
    bottom: -50%;
  }
  20% {
    left: 20%;
    bottom: -20%;
  }
  40% {
    left: 40%;
    bottom: 0;
  }
  60% {
    left: 60%;
    bottom: 20%;
  }
  80% {
    left: 80%;
    bottom: 40%;
  }
  100% {
    left: 100%;
    bottom: 60%;
  }
}
