div(id="main-content-wrapper")
  router-outlet
p-toast
app-snippet-block
ng-container(*ngIf="showContextMenu")
  p-contextMenu(
    [global]="true",
    [model]="contextMenu",
    (onHide)="showContextMenu=false"
    )
