include ../../share/mixins/_mixins.pug

mixin checkBoxGrid(width="3", columns="checkBoxFilds", data="checkBoxTable")
  div(class="p-grid")
    div(class=`p-col-${width}`) 
      | ОБЩЕЕ ИМЯ
    div(class=`p-col-${12-width}`)
      div(class="p-grid")
        div(class="p-col", *ngFor=`let fild of ${columns}; let fildIndex = index`)
          | {{fild.name}}
  hr
  ng-container(*ngFor=`let row of ${data}; let rowIndex = index`)
    div(class="p-grid")
      div(class=`p-col-${width} p-col-align-center`) 
        | {{row.name}}
      div(class=`p-col-${12-width}`)
        div(class="p-grid", *ngFor="let itemRow of row.items; let itemRowIndex = index")
          div(class="p-col", *ngFor=`let item of ${columns}; let itemIndex = index`)
            p-checkbox([(ngModel)]="itemRow[item.fild]", [binary]="true", (onChange)="checkCheckBox($event, rowIndex, itemRowIndex, item.fild)")
    hr


div(class="menu")
  +column-row
    +accordionTab-single("CHECK_BLOCK")
      div(class="p-grid")
        div(class="p-col-2")
            | ОБЩЕЕ ИМЯ
        div(class="p-col-10")
          div(class="p-grid")
            div(class="p-col", *ngFor="let fild of checkBoxFilds; let fildIndex = index")
              | {{fild.name}}
      ng-container(*ngFor="let row of checkBoxTable; let rowIndex = index")
        hr
        div(class="p-grid")
          div(class="p-col-2 p-col-align-center") {{row.name}}
          div(class="p-col-10")
            div(class="p-grid", *ngFor="let itemRow of row.items; let itemRowIndex = index")
              div(class="p-col", *ngFor="let item of checkBoxFilds; let itemIndex = index")
                p-checkbox([(ngModel)]="itemRow[item.fild]", [binary]="true")

    +accordionTab-single("CHECK_BLOCK_2")
      +checkBoxGrid()

    //- +accordionTab-single("Загальна інформація")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "Відділення")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "ПіБ ініціатора заяви")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "Дата і час останнього оновлення")
    //-         +date-time-picker("department", "8", null, "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("productType", "4", "Тип продукту")
    //-         +dropdown-simple-custom("productType", "8", "productModel", "listJobs", "flags.editingModeOff")

    //- +accordionTab-single("Особисті відомості")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "Прізвище")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("department", "4", "Surname")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("department", "4", "Ідентифікаційний код")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "Ім`я")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("department", "4", "Name")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("sex", "4", "Стать")
    //-         +dropdown-simple("sex", "8", null, "sex", "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "По-батькові")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("department", "4", "Patronymic")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("department", "4", "Дата народження")
    //-         +date-picker("department", "8", null, "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "Попереднє / дівоче прізвище")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("department", "4", "Prev surname")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("citizenship", "4", "Грамодянство")
    //-         +dropdown-simple("citizenship", "8", null, "citizenship", "flags.editingModeOff")
    //-     +check-box-boolean("correct", "12", null, "Ідентифікацїйний код, дата народженняб стать вірні", "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("personalDocument", "4", "Персональний документ")
    //-         +dropdown-simple("personalDocument", "8", null, "personalDocument", "flags.editingModeOff")
    //-     +column("12 p-md-6 p-xl-3")
    //-       +form-row
    //-         +label-block("department", "4", "Номер ID card")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-     +column("12 be-align-rigth")
    //-       +button(12, "Ідентифікувати Клієнта", "flags.editingModeOff", "showCard()")

    //- +accordionTab-single("Результати пошуку клієнта")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +label-block("department", "4", "Результати останньюго пошуку клієнта")
    //-     +input-simple("department", "8", null, "flags.editingModeOff")

    //- +accordionTab-single("Персональні дані клієнта")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +column("12 p-xl-2")
    //-       p-fileUpload(
    //-         mode="basic",
    //-         name="demo[]",
    //-         url="./upload.php",
    //-         maxFileSize="1000000",
    //-         (onUpload)="onBasicUpload($event)",
    //-         chooseLabel="Upload",
    //-         [disabled]="flags.editingModeOff",
    //-         pTooltip="{{'UPLOAD' | translate}}", tooltipPosition="bottom",
    //-         )
    //-     +column("12 p-md-4 p-xl-3")
    //-       +form-row
    //-         +label-block("maritalStatus", "4", "Сімейний стан")
    //-         +dropdown-simple("maritalStatus", "8", null, "maritalStatus", "flags.editingModeOff")
    //-         +label-block("department", "4", "Кількість утриманців")
    //-         +input-simple("department", "8", null, "flags.editingModeOff")
    //-         +label-block("educationLevel", "4", "Освіта")
    //-         +dropdown-simple("educationLevel", "8", null, "educationLevel", "flags.editingModeOff")
    //-     +column("12 p-md-4 p-xl-3")
    //-       +form-row
    //-         +label-block("maritalStatus", "4", "Область регістрації")
    //-         +dropdown-simple("maritalStatus", "8", null, "maritalStatus", "flags.editingModeOff")
    //-         +label-block("population", "4", "Кількість населення")
    //-         +dropdown-simple("population", "8", null, "population", "flags.editingModeOff")
    //-     +column("12 p-md-4 p-xl-4")
    //-       +form-row
    //-         +label-block("city", "4", "Населений пункт")
    //-         +input-simple("city", "8", null, "flags.editingModeOff")
    //-         +label-block("lived", "4", "Термін проживання, років")
    //-         +dropdown-simple("lived", "8", null, "lived", "flags.editingModeOff")
    //-     +check-box-boolean("correct", "12 p-xl-10  p-xl-offset-2", null, "Наседений пункт реєстрації співпадає із населеним пунктомпроживання", "flags.editingModeOff")
    //- +accordionTab-single("Контактрі телефони")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +label-block("contactPhoneCode", "4 p-md-2", "Населений пункт")
    //-     +dropdown-simple("contactPhoneCode", "4 p-md-1", null, "contactPhoneCode", "flags.editingModeOff")
    //-     +input-simple("contactPhone", "4 p-md-3", null, "flags.editingModeOff")
    //-     +label-block("email", "4 p-md-2", "Email")
    //-     +input-simple("email", "8 p-md-4", null, "flags.editingModeOff")
    //- +accordionTab-single("Працевлаштування клієнта")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +column("12 p-md-6")
    //-       +form-row
    //-         +label-block("lived", "4", "Загальний стаж роботи")
    //-         +dropdown-simple("lived", "8", null, "lived", "flags.editingModeOff")
    //-         +label-block("lived", "4", "Характер зайнятості (додаток 1)")
    //-         +dropdown-simple("lived", "8", null, "lived", "flags.editingModeOff")
    //-     +column("12 p-md-6")
    //-       +form-row
    //-         +label-block("lived", "4", "Характер зайнятості (основний)")
    //-         +dropdown-simple("lived", "8", null, "lived", "flags.editingModeOff")
    //-         +label-block("lived", "4", "Характер зайнятості (додаток 2)")
    //-         +dropdown-simple("lived", "8", null, "lived", "flags.editingModeOff")
    //-     +column("12")
    //-       +separator-block("Дані клієнта, який веде підприємницьку діяльність (ФОП)")
    //-     +column("12 p-md-6")
    //-       +form-row
    //-         +label-block("registrationDate", "4", "Дата регістрації")
    //-         +date-picker("registrationDate", "8", null, "flags.editingModeOff")
    //-     +column("12 p-md-6")
    //-       +form-row
    //-         +label-block("jobType", "4", "Вид діяльності")
    //-         +dropdown-simple("jobType", "8", null, "jobType", "flags.editingModeOff")
    //- +accordionTab-single("Доходи та видатки кліентів")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +column("12 p-lg-6")
    //-       +form-row
    //-         +label-block("cash1", "8", "Обсяг отриманого доходу (виручка), за останній звітний рік, згідно податкової декларації, грн")
    //-         +input-simple("cash1", "4", null, "flags.editingModeOff")
    //-         +label-block("cash2", "8", "Середньомісячний оборот по з/п рахунку, грн")
    //-         +input-simple("cash2", "4", null, "flags.editingModeOff")
    //-         +label-block("cash3", "8", "Середньомісячний оборот по іншим рахункам, грн")
    //-         +input-simple("cash3", "4", null, "flags.editingModeOff")
    //-         +label-block("cash4", "8", "Середньомісячний документально підтвердженний дохід, грн")
    //-         +input-simple("cash4", "4", null, "flags.editingModeOff")
    //-     +column("12 p-lg-6")
    //-       +form-row
    //-         +label-block("cash11", "8", "Сума щомісячного непідтверджених документально доходів, грн")
    //-         +input-simple("cash11", "4", null, "flags.editingModeOff")
    //-         +label-block("cash12", "8", "Щомісячні відатки сім`ї кліента, грн")
    //-         +input-simple("cash12", "4", null, "flags.editingModeOff")
    //-         +label-block("cash12", "8", "Кількість автомобілів на родину")
    //-         +input-simple("cash12", "4", null, "flags.editingModeOff")
    //-         +label-block("realty", "8", "Наявність нерухомого майна")
    //-         +dropdown-simple("realty", "4", null, "realty", "flags.editingModeOff")
    //- +accordionTab-single("Діючі кредити клієнта в інших банках")
    //-   +accordionBlockMenu()
    //-   +form-row
    //-     +column("12 p-md-4")
    //-       +form-row
    //-         +column("12")
    //-           +separator-block("Краткові кредити")
    //-         +label-block("creditCount1", "8", "Кількість, шт")
    //-         +input-simple("creditCount1", "4", null, "flags.editingModeOff")
    //-         +label-block("creditCount2", "8", "Сумма ліміту, екв. грн")
    //-         +input-simple("creditCount2", "4", null, "flags.editingModeOff")
    //-         +label-block("creditCount3", "8", "Сумма наявних простроченних платежів, екв. грн")
    //-         +input-simple("creditCount3", "4", null, "flags.editingModeOff")
    //-     +column("12 p-md-4")
    //-       +form-row
    //-         +column("12")
    //-           +separator-block("Беззаставні кредити (включаючи овердрафт)")
    //-         +label-block("credit21", "8", "Кількість, шт")
    //-         +input-simple("credit21", "4", null, "flags.editingModeOff")
    //-         +label-block("creditLemit21", "8", "Загальна сума щомісячного платежу, екв. грн")
    //-         +input-simple("creditLemit21", "4", null, "flags.editingModeOff")
    //-         +label-block("creditPay21", "8", "Сумма наявних простроченних платежів, екв. грн")
    //-         +input-simple("creditPay21", "4", null, "flags.editingModeOff")
    //-     +column("12 p-md-4")
    //-       +form-row
    //-         +column("12")
    //-           +separator-block("Заставні кредити (Авто, Іпотека, Інші)")
    //-         +label-block("credit31", "8", "Кількість, шт.")
    //-         +input-simple("credit31", "4", null, "flags.editingModeOff")
    //-         +label-block("creditLemit31", "8", "Загальна сума щомісячного платежу, екв. грн")
    //-         +input-simple("creditLemit31", "4", null, "flags.editingModeOff")
    //-         +label-block("creditPay31", "8", "Сумма наявних простроченних платежів, екв. грн")
    //-         +input-simple("creditPay31", "4", null, "flags.editingModeOff")


app-simple-card((closeCard)="closeCard($event)", [userId]="1", *ngIf="showSimpleCard")
